
h3 {color: pink;
font-family: 'Rock Salt', cursive;
    font-weight: 700;
    letter-spacing: 3px;}

h5{  font-family: 'Karla', sans-serif;
    font-weight: 40;
    text-transform: uppercase;
    letter-spacing: 1px;}

.login-wrapper{
background-image: url('https://aggwlw.by.files.1drv.com/y4mnMaLVJE4F-5UMjDwXMtqfD-1lNG5ZDr82_poBQ2XdCrIbNULSwqcg4eqhqpHalzWSTGtd-07M2UUvyEY60yMnF1pDsGOHsCU9KfP1chrGA6QPaolFeBv4BqMFUgIhB63PaLEBQKfiVu4MAe29nfuwNDy2SJ4rt3zC-ws3Zgiaj2mzjd4WrhN4ZdqUxt6mYMZln4jtROKNaiVHYwZSZ7-lg?width=500&height=500&cropmode=none');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 68% 100%;
  
}
.login-group{  font-family: 'Karla', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;}

