<body>
<button class="btn btn-primary" (click)="toLogin()"> Back </button>
<form #employeeForm="ngForm" (ngSubmit)="onSubmit()" [hidden]="submitted">
	<section class="form-block">
		<label>Become a Melanin Mogul</label>
		<div class="form-group">
			<label for="empFirstName">Full Name</label>
			<label for="empFirstName"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)">
                <input type="text" id="empFirstName" placeholder="Enter First Name"
                    required
                    name="firstName"
                    [(ngModel)]="user.firstName"
                    #firstNameInput="ngModel">
                <span class="tooltip-content">
                    Full Name is Required.
                </span>
            </label>
		</div>

    <div class="form-group">
			<label for="empMogulId">Mogul Id</label>
			<label for="empMogulId"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="MogulIdInput.invalid && (MogulIdInput.dirty || MogulIdInput.touched)">
                <input type="text" id="empMogulId" placeholder="Enter Mogul Id"
                    required
                    name="mogulId"
                    [(ngModel)]="user.mogulId"
                    #mogulIdInput="ngModel">
                <span class="tooltip-content">
                    Mogul Id is Required.
                </span>
            </label>
		</div>

		<div class="form-group">
			<label for="empEmail">Email</label>
			<label for="empEmail"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
                <input type="text" 
                id="empEmail" placeholder="Enter Email"
                    required
                    name="email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                    title="xyz@something.edu"
                    required
                    [(ngModel)]="user.email"
                    #emailInput="ngModel">        
                <span class="tooltip-content">
                    Email is Required.
                </span>
            </label>
		</div>
		<div class="form-group">
			<label for="empPassword">Password</label>
			<label for="empPassword"
                aria-haspopup="true"
                role="tooltip"
                class="tooltip tooltip-validation tooltip-md"
                [class.invalid]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
                <input type="password" id="empEmail" placeholder="Enter Password"
                    required
                    name="password"
                    [(ngModel)]="user.password"
                    #passwordInput="ngModel">
                <span class="tooltip-content">
                    Password is Required.
                </span>
            </label>
		</div>
    <div class="form-group">
      <label for="exampleInputFile">Upload an Avatar Picture</label>
      <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted"></small>
    </div>
<a href="https://melanin-mogul-blog-april.stackblitz.io">Register</a>

	</section>
</form>
</body>